html{
  font-size: 62.5%;
}


body{
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(150deg, #2e2f42 0%, black  60%);
  background-repeat: no-repeat;
}
a:link { text-decoration: none; }
.card{
  min-height: 10rem;
  border-radius: 1rem !important;
  width: 80%;
}
.card-header{
  border: none;
  font-size:2.2rem;
  margin-bottom: 1rem;
  padding-left: 0.8rem;
  padding-top: 1rem;
}
.card-header a{
  color: #e0dede;
  font-size: 2.2rem;
  text-decoration: none;
  margin-top: 1%;
  float: left;
  /*padding: 10rem 10rem 10rem 10rem;
  border-radius: 50rem;*/  
}
.profile-img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  float: left;
  margin-right: 1rem;
  margin-left: 0.7rem;
  margin-top: 0.4rem;
  object-fit: cover;
  object-position: center right;
}
.card-header a:hover{
  color: #264ed1 !important;
}

.card-title{
  color: transparent;
  background-image: linear-gradient(to left,#264ed1,#2143b6);
  -webkit-background-clip: text;
  font-size: 2.2rem;
  font-weight: bold;
}
.card-footer{
  background-image: linear-gradient(to left,#264ed1,#2143b6) !important;
  border-radius: 0rem 0rem 1rem 1rem !important;
  
}

/*.user-info{
  background-image: linear-gradient(to left,#264ed1,#2143b6) !important;
  height: 50rem; 
  max-width: 200rem;
  background-clip:padding-box;
  border-radius:50rem;
  margin-left: 0rem;
}*/ 

.border-primary{
  border: none;
  background-image: linear-gradient(to left,#1f212d,#2e2f42);
}

.share {
  border-radius: 4rem;
  background-color: #2143b6;
  border: none;
  text-decoration:none;
  color: #FFFFFF;
  text-align: center;
  font-size: 2.2rem;
  padding: 1rem 1rem 1rem 1rem;
  width: 30rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0rem 0rem 2rem 1.6rem;
}

.share span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.share span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.5s;
}

.share:hover span {
  padding-right: 2.5rem;
}

.share:hover span:after {
  opacity: 1;
  right: 0;
}
#more {display: none;}

#myBtn{
  color: #007bff;
  background-color: #0000;
  font-size: 2rem;
  border: none;
  padding-left: 0rem;
}

.fa {
  font-size: 5rem;
  cursor: pointer;
  user-select: none;
}



.column {
  float: left;
  width: auto;
  padding: 0rem;
  height: 3rem; /* Should be removed. Only for demonstration */
  background-color: transparent;
}


#icons{
display: inline-block;
color: white;
background-color: #0000;
border: none;
margin-top: 0.25rem;
}

#labels{
  color: white;
  background-color: #0000;
  font-size:1.6rem;
  padding: 0rem 1rem 0rem 0rem;
  font-weight: 500;
}




@media(max-width:998px){
  html{
    font-size:55%
  }
}
@media(max-width:768px){
  html{
    font-size:45%
  }

}
@media (max-width: 425px) {

}