html{
  font-size: 62.5%;
}

body{
  background-image: linear-gradient(147deg, #2e2f42 0%, black  60%) !important;
  background-repeat: no-repeat;
  height: 96.1rem;
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
  width: 1.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.3rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1e27;
  border-radius: 0.3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #28283a;
}
.login-page {
  width: 36rem;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.form {
  position: relative;
  z-index: 1;
  border: none;
  background-image: linear-gradient(to left,#1f212d,#2e2f42);
  width: 32rem;
  margin: 0 auto 10rem;
  padding: 4.5rem 4.5rem 4.5rem 4.5rem;
  text-align: center;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2), 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.24);
  border-radius: 1rem;
}
.login-form{
  padding-top: 0rem;
}
.register-form{
  padding-top: 0rem;
}
#logo{
  padding-right: 5rem;
}
.form input[type=text] {
  height:5rem;
  border: 0;
  width: calc(100% - 0.2rem);
  margin-left:0.1rem;
  box-shadow: 0rem 0.8rem 0rem -0.7rem #ebebeb, 0rem 0.8rem 0rem -0.7rem #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  color: #bbbbbb;
}
.form input[type=text]:focus {
  outline: none;
  box-shadow: -0.6rem 1rem 0rem -0.7rem #0070d1, 0.6rem 1rem 0rem -0.7rem #0070d1;
  color: #bbbbbb;
}
.form input[type=password] {
  height:5rem;
  border: 0;
  width: calc(100% - 0.2rem);
  margin-left:0.1rem;
  box-shadow: 0rem 0.8rem 0rem -0.7rem #ebebeb, 0rem 0.8rem 0rem -0.7rem #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}


.form input[type=password]:focus {
  outline: none;
  box-shadow: -0.6rem 1rem 0rem -0.7rem #0070d1, 0.6rem 1rem 0rem -0.7rem #0070d1;
}

.form input[type=email] {
  height:5rem;
  border: 0;
  width: calc(100% - 0.2rem);
  margin-left:0.1rem;
  box-shadow: 0rem 0.8rem 0rem -0.7rem #ebebeb, 0rem 0.8rem 0rem -0.7rem #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.form input[type=email]:focus {
  outline: none;
  box-shadow: -0.6rem 1rem 0rem -0.7rem #0070d1, 0.6rem 1rem 0rem -0.7rem #0070d1;
}
.form input {
 
  color: #ffff !important;
  outline: 0;
  background: #0000;
  border-top: #004e92;
  width: 100%;
  border: 0;
  margin: 0 0 1.5rem;
  padding: 1.5rem;
  padding-top: 2.5rem;
  box-sizing: border-box;
  font-size: 1.6rem;
}
.form button {
  
  text-transform: uppercase;
  outline: 0;
  background-image: linear-gradient(to left,#264ed1,#2143b6);
  width: 100%;
  border: 0;
  padding: 1.5rem;
  color: #FFFFFF;
  font-size: 1.6rem;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease; 
  cursor: pointer;
  border-radius:1.0rem;
}
.form button:hover,.form button:active,.form button:focus {
  background: #1e3c9e;
}
.form .message {
  margin: 1.5rem 0 0;
  color: #ffff;
  font-size: 1.6rem;
}
.form .message a {
  color: #0070d1;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 34rem;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 5rem auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 1.5rem;
  padding: 0;
  font-size: 3.6rem;
  font-weight: 300;
  color: #ffff;
}
.container .info span {
  color: #bbbbbb;
  font-size: 1.2rem;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.form img{
  width:24rem;
  height:auto;
}

@media(max-width:998px){
  html{
    font-size:55%
  }
}
@media(max-width:768px){
  html{
    font-size:45%
  }


}