html{
    font-size: 62.5%;
  }
  .dropdown-item{
    font-size: 1.6rem;
  }
  .navbar {
    position: fixed;
    height: 7%;
  }
  #editor{
    width: 50% !important;
  }
  @media(max-width:998px){
    html{
      font-size:55%
    }
  }
  @media(max-width:768px){
    html{
      font-size:45%
    }
  
  }  