html{
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(147deg, #2e2f42 0%, black 74%);
  font-family: 'Montserrat', sans-serif !important;
  font-size: 2rem;
  height: 96rem;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
*:focus {
  outline: none;
}

.dropdown-item{
  font-size: 1.6rem;
}
.navbar {
  position: fixed;
  height: 7%;
}
.btn{
  background-image: linear-gradient(to left,#264ed1,#2143b6);
  border: none;
  color: #fff;
  font-size: 2rem;
  border-radius: 0.7rem;
  line-height: 3rem;
  width: 10rem;
}

.form-control{
  background: transparent !important;
  border-bottom: 1px solid #fff !important;
  text-decoration: none;
  border: transparent;
  font-size: 1.5rem;
  outline-width: 0 !important;
  color: #fff !important;
}
.form-control:focus, textarea:focus, input:focus{  
  outline: none !important;
  border-bottom: 2px solid #264ed1 !important;
  outline-width: 0 !important;
  box-shadow: none !important;
}
#editor{
  width: 50% !important;
}
@media(max-width:998px){
  html{
    font-size:55%
  }
}
@media(max-width:768px){
  html{
    font-size:45%
  }

}  

body{
  background-color: transparent;
}

.loader-wrapper {
    position: fixed;
    width: 100% !important;
    height: 100rem;
    background-color: black;
    z-index: 9999;
    margin-left: 0px;
    margin-top: -68rem;
    margin-bottom: 40px !important;
}
.loader2{
  width: 200rem;
  height: 96.4rem;
  background-image: linear-gradient(to left, #1f212d, #2e2f42);
  margin-left: -8px;
  margin-top: -67.6rem;
  margin-bottom: -20px;
}
.loader1 {
    height: 1px;
    background-color:#264ed1;
    position: absolute;
    z-index: 9999;

}

img {
  position:absolute;
  background-color: transparent !important;
  top:50%;
  left:50%;
  width:600px;
  margin-left: -34rem;
  margin-top:-65rem;
}
.load{
display: none;
position: absolute;
}

