html{
    font-size: 62.5%;
  }
  .dropdown-item{
    font-size: 1.6rem;
  }
  

  body {
    background-image: linear-gradient(170deg, #2e2f42 0%, black 90%);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    background-size: auto;
    height: auto;
    min-height: 93rem;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 1.2rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0.3rem;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1c1e27;
    border-radius: 0.3rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #28283a;
  }
.navbar {
  position: fixed;
  height: 7%;
}
header h1{
    background-image: linear-gradient(to left,#264ed1,#2143b6) !important;
  -webkit-background-clip: text !important;
  color: transparent;
}
header .material-icons{
    color: black;
}
.rss-page{
    background: black;
}
.rss-title {
    margin: 3rem;
    border-bottom: 0.4rem solid linear-gradient(to left,#264ed1,#2143b6);
    background-color: #ffff;
    color: #ffff;
}

.rss-title span .fa fa-lightbulb-o {
    color:#007bff;
    font-size: 0.2rem;
    font-weight: bold;
}
.fa fa-search{
    font-family: 'Montserrat';
}
.rss-page {margin-bottom: 2rem;}


h2{
    background-image: linear-gradient(to left,#264ed1,#2143b6) !important;
  -webkit-background-clip: text !important;
  color: transparent;
}




.list-group-item { /*change this class name this is default of bootstrap*/
    padding: 0.025rem 0.025rem;
    margin-bottom: 0;
    border: 0;
    background: black;
}
.card-title{
    font-size: 2rem;
}
.container {
    margin-top: 7rem;
    background: black;
    
}
.card{
    background-image: linear-gradient(to left,#1f212d,#2e2f42);
    border: none !important;
    background-color: transparent;
    height: 50rem !important;
    width: 80%;
    margin-left: 40%;
    border-radius: 2rem;
    margin-bottom: 2rem;
}
.card-body {
    background: black;
    border: none;
    font-size: 1.5rem;
    height: 50rem;
    border-radius: 2rem;
}
.card-body h5{
    color: #007bff;
    font-size: 2.5rem;
}
.card-body p{
    color: gainsboro;
    font-size: 1.8rem;
}
.card-body a{
    font-size: 1.4rem;
}

.rss-content {
    padding: 1.5rem;
    background: black;
    border-radius: 0.5rem;
    border: #0000;
    font-size: 1.5rem;
}

.wrapper {
  position: relative;
  overflow: hidden;
  border-radius:1.5rem 1.5rem 0rem 0rem;
}

.wrapper:after {
  content: '';
  display: block;
  padding-top: 75%;
}

.wrapper img {
  width: 100%;
  height: auto;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}


.form-check { 
    margin: -1rem;
}
.form-check p1{
    background: #007bff;
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}
.btn-primary{
    background-image: linear-gradient(to left,#264ed1,#2143b6);
    border-radius: 1rem;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
}


@media(max-width:998px){
    html{
      font-size:55%
    }
  }
  @media(max-width:768px){
    html{
      font-size:45%
    }
    .card{
      background-image: linear-gradient(to left,#1f212d,#2e2f42);
      border: none !important;
      background-color: transparent;
      border-radius: 1.5rem;
      min-height: 40rem;
      width: 60%;
      margin-left: 20%;
      margin-bottom: 2rem;
  }
  }