<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Professional's Info</title>
  <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="static/css/doc.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <header>
    <br>
    <h1>Professional's Info</h1>
  </header>
  
  <main>
    
    <br>
      <p class="fotokolom">
      <img src="https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
      <h2 style="margin-left:-335px">Dr. Pooja Lakshminy</h2>
      
      <p class="detail" style="margin-left:-335px">BA - Psychology,<br>MA - Psychology,<br> PhD - Neuropsychology</p>
      <h5 style="margin-left:-335px; margin-top:450px">Psychologist, Psychiatrist</h5>
    <p class="tekst">Hairequipe is fris en populair, maar werkt vooral inspirerend. Dat draagt ongetwijfeld bij tot het enorme succes van de talrijke kapsalons. Ondertussen vormt Hairequipe een uniek concept dat al bestaat uit een Hairequipe Academie en zeven kapsalons verspreid over Antwerpen en omstreken.

Oog voor de nieuwste modetendensen is ontzettend belangrijk bij Hairequipe. Juist daarom wordt er zoveel belang gehecht aan permanente opleiding en opvolging van het volledige team. Naast de meest professionele, efficiënte en klantvriendelijke service zijn ook details heel belangrijk. Niet alleen de stijlvolle en piekfijne interieurs van de talrijke kapsalons leveren daar duidelijk bewijs van, ook de humoristische en positieve thema’s van Hairequipe wijzen daarop.
 <br>
 <br>
Elk jaar onderscheidt Hairequipe zich onder andere door de klant te verrassen met een ander humoristisch en positief thema. Het thema van 2016 is “La Mas Bonita”.

Mensen inspireren, dat is waar Hairequipe voor staat.

Het volledige Hairequipe team doet er alles aan om de klanten te inspireren, niet alleen door de perfecte kapsels te creëren, maar ook door de klant een volledig pakket aan te bieden. Dat wil zeggen een professionele, efficiënte en klantvriendelijke service in een stijlvolle omgeving.
<br>
<br>
De Hairequipe Academie is slechts één van de vele elementen die Hairequipe zo uniek maken. Het doel van onze Academie is de medewerkers te vormen in het algemene Hairequipe Concept. Dat Concept wordt dan ook uitgevoerd in alle Hairequipe kapsalons.

Onze hooggekwalificeerde specialisten zorgen voor de opleiding en opvolging van het hele team. Zij houden nauwlettend alle modetendensen in het oog en met de nieuwste technologische middelen zorgen zij ervoor dat het volledige team binnen de kortst mogelijke tijd de nieuwste modetendensen onder de knie heeft.
<br>
<br>
Kom snel een kijkje nemen in een van onze kapsalons en laat je inspireren!</p>
    
  </main>
</body>
<!-- partial -->
  
</body>
</html>
