{% extends 'base.html' %}
{% load static %}
{% block anonymDocpage %}active{% endblock anonymDocpage %}
{% block content %}
<link rel ="stylesheet" href="{% static 'css/anonym.css' %}">
<script src="https://kit.fontawesome.com/756186333c.js" crossorigin="anonymous"></script>
 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<br><br><br><br><br>
<style>
.btn-primary:focus{
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.3rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1e27;
  border-radius: 0.3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #28283a;
}

</style>
<center>
  <figure>
    <blockquote class="blockquote">
      <p  style="font-size: 2rem; color: white;">People appreciate and never forget that helping hand especially when times are tough</p>
    </blockquote>
   
  </figure>
</center>
<br><br>

{% for profile in allProfiles  %}
{% for post in allPosts %}

{% if profile.profile_user == post.author %}

<div class="container d-flex justify-content-center">
 <div class="card toAddCardCss border-primary mb-3 bg-transparent " >
     <div class="card-header bg-transparent">
     <img src="{{profile.image.url}}" alt="" class="profile-img">
     <!--<a href="/userprofile/{{profile.id}}">{{post.author}}</a>-->
      <a href="/help/{{profile.id}}">{{post.author}}</a> 
  </div>
<br>
  <div class="card-body text-white" style="margin-top: -3rem;">
    <h5 class="card-title">{{post.title}}</h5>
    <h4 class="card-text">{{post.body|safe}}</h4>
  </div>
  <div class="card-footer bg-transparent border-primary">
    <div class="row-icons">
      <div class="column ">
          <button type="submit" id="icons" style="font-size: 1.5rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16" >
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg>
            <p   style="display: inline;  " onclick ="window.location.href='/help/{{profile.id}}'">Help</p></button>
           <button type="submit" id="icons" style="font-size: 1.5rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
              <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
            </svg>
             
             <p style="display: inline;  "onclick ="window.location.href='/doctor/pdf/{{profile.id}}'">Get Report</p></button>
      
    
      
 
      </form>
      </div>
   


   
   
   </div>
     </div>
  </div>


    </div>
    {% endif %} 
    {% endfor %}
   
    
{% endfor %}



{% endblock content %}