{% extends 'test.html' %}
{% load static %}
{% block anonympage %}active{% endblock anonympage %}
{% block content %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Anonimo</title>
  <link rel="stylesheet" href="static\css\load.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="loader-wrapper">
<div class="loader1">
  <div id="fade-in" class="fade-in">
<img src="static\img\Anonimo1.png"/>
</div>
</div>
</div>
<div class="loader2">
<img src="static\img\Anonimo2.png"/>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src="{% static 'js/load.js' %}"></script> 

</body>
</html>

{% endblock content %}