{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel ="stylesheet" href="{% static 'css/report.css' %}">
<script src="https://kit.fontawesome.com/756186333c.js" crossorigin="anonymous"></script>
 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body>
<br><br><br><br><br>
<div class="container">
  
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-8">
    <blockquote class="blockquote">
      <p  style="font-size: 2.5rem; font-weight: bold;color: white;">"Sharing your thoughts and problems can make you feel better"</p>
    </blockquote>
      <label style="color:#0070d1;">Turn your thoughts into wisdom!</label>
      <br><br>
      <form method="POST">
      {% csrf_token %}
      <div class="form-group">
       <input type="text" class="form-control" id="content-title" aria-describedby="emailHelp" placeholder="Give a title to your thought" name="content-title" required>
       <br>
         <textarea id="editor" placeholder="Clear out your mind!" name="content-area" required></textarea>
         <br>
         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter tags (2 to 3 max)" required>
      </div>
      
      <br>
      <button id="submit" type="submit" class="btn">Submit</button>
    </form>
    </div>
  </div>
</div>
  <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  
    <div class="load" id="load">
      <div class="loader-wrapper">
      <div class="loader1">
        <div id="fade-in" class="fade-in">
      <img src="static\img\Anonimo1.png"
      style="background-color: transparent !important;
            top:50%;
            left:50%;
            width:600px;
            margin-left: -30.2rem;
            margin-top: -33.8rem"
      />
      </div>
      </div>
      </div>
      <div class="loader2">
      <img src="static\img\Anonimo2.png"/>
      </div>
    </div>
</body>
<script src="{% static 'js/ckeditor.js' %}"></script> 
<script src="{% static 'js/post.js' %}"></script> 
<script>
CKEDITOR.replace('editor')
</script>
{% endblock content %}